[Desktop Entry]
Name=URI to Clipboard
Exec=sh -c "$HOME/.local/bin/uri-copy.sh %u"
Type=Application
Terminal=false
MimeType=x-scheme-handler/http;x-scheme-handler/https;
